KAIROS_ENV=development
KAIROS_HTTP_ADDR=127.0.0.1:8080
KAIROS_DATABASE_URL=postgres://postgres:change-me@127.0.0.1:5432/kairos?sslmode=disable
KAIROS_BASE_URL=http://127.0.0.1:8080
KAIROS_SESSION_SECRET=replace-with-at-least-32-random-characters
KAIROS_ACCESS_TTL=15m
KAIROS_REFRESH_TTL=720h
KAIROS_LOG_LEVEL=info
KAIROS_CORS_ORIGINS=
KAIROS_MIGRATIONS_DIR=./migrations
KAIROS_BOOTSTRAP_USERNAME=owner
KAIROS_BOOTSTRAP_PASSWORD=replace-with-a-strong-account-password
